/* background */


body {
    background-color: rgb(248, 228, 241);
    height: 100vh;
    margin: 0;
  }
  
  
  .sky-wrap {
    height: 30%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    margin-top: 25px;
    background: linear-gradient(to right, #ff5f94, #feb47b, #1de0fe, #547efc);
    overflow: hidden;
  }
  
  
  .title {
    position: absolute;
    margin: 10% 50%;
  }
  
  
  /* individual clouds */
  
  
  .cloud {
    position: absolute;
    margin-top: 70px;
    width: 350px;
    height: 120px;
    top: 50%;
    background: radial-gradient(circle, #80deea, #d7f7fc);
    box-shadow: 10px 10px rgba(25, 25, 25, 0.2);
    border-radius: 100px;
    border: 2mm double rgba(24, 221, 221);
    border-top: none;
  }
  
  
  .cloud2 {
    position: absolute;
    margin-top: 70px;
    width: 350px;
    height: 120px;
    top: 50%;
    background:  rgb(214, 217, 217);
    box-shadow: 10px 10px rgba(25, 25, 25, 0.2);
    border-radius: 100px;
    border: 1mm double rgb(239, 242, 242);
    border-top: none;
  }
  
  
  .cloud3 {
    position: absolute;
    margin-top: 70px;
    width: 350px;
    height: 120px;
    top: 70%;
    background: #eceff1;
    background: radial-gradient(circle,rgb(24, 221, 221), rgb(206, 241, 241) );
    box-shadow: 10px 10px rgba(25, 25, 25, 0.2);
    border-radius: 100px;
    border: 2mm double rgba(24, 221, 221);
    border-top: none;
  }
  
  
  .cloud::after,
  .cloud::before {
    content: "";
    position: relative;
    display: inline-block;
    border-radius: 50%;
    border: 1mm double rgba(24, 221, 221);
  }
  
  
  .cloud::after {
    width: 100px;
    height: 100px;
    top: -120px;
    left: -120px;
    z-index: -1;
    background: linear-gradient(to left, #80deea, #d7f7fc);
  }
  
  
  .cloud::before {
    width: 180px;
    height: 180px;
    top: -70px;
    left: 130px;
    z-index: -1;
    background: linear-gradient(to right, #80deea, #d7f7fc);
  }
  
  
  .cloud2::after,
  .cloud2::before {
    content: "";
    position: relative;
    display: inline-block;
    border-radius: inherit;
    border: 1mm double rgb(239, 242, 242);
  }
  
  
  .cloud2::after {
    width: 100px;
    height: 100px;
    top: -120px;
    left: -120px;
    z-index: -1;
    background: rgb(214, 217, 217) ;
  }
  
  
  .cloud2::before {
    width: 180px;
    height: 180px;
    top: -80px;
    left: 130px;
    z-index: -1;
    background:  rgb(214, 217, 217);
  }
  
  
  .cloud3::after,
  .cloud3::before {
    content: "";
    position: relative;
    display: inline-block;
    border-radius: inherit;
    z-index: -1;
    border: 1mm double rgba(24, 221, 221);
  }
  
  
  .cloud3::after {
    width: 100px;
    height: 100px;
    top: -120px;
    left: -120px;
    background: linear-gradient(to right, rgb(206, 241, 241), rgb(24, 221, 221));
   
  }
  
  
  .cloud3::before {
    width: 180px;
    height: 180px;
    top: -80px;
    left: 130px;
    background: linear-gradient(to left, rgb(206, 241, 241), rgb(24, 221, 221));
  }
  
  
  /* animation */
  
  /* Cloud group1 floats from top to bottom back to top */
  @keyframes animateCloud1 {
    0% {
      margin-left: -1200px;
      margin-top: 75px;
    }
    50% {
      margin-top: 30px;
    }
    
    100% {
      margin-left: 100%;
      margin-top: 75px;
    }
  }
  
  
  @keyframes animateCloud2 {
    0% {
      margin-left: -1000px;
      margin-top: 0px;
    }
    50% {
      margin-top: 10px;
    }
    100% {
      margin-left: 100%;
      margin-top: 0px;
    }
  }

  @keyframes animateCloud3 {
    0% {
      margin-left: -1500px;
      margin-top: 55px;
    }
    50% {
      margin-top: -50px;
    }
    100% {
      margin-left: 100%;
      margin-top: 55px;
    }
  }

  @keyframes animateCloud4 {
    0% {
      margin-left: -1000px;
      margin-top: -15px;
    }
    50% {
      margin-top: 20px;
    }
    100% {
      margin-left: 100%;
      margin-top: -15px;
    }
  }
  

  /* background-gradient */

  @keyframes gradient-animation {
    0% {
    background-position: top;
    background-color: #ff5f94;
    }
    25% {
  
      background-color: #feb47b;
    }
    50% {
      background-position: bottom;
      background-color: #1de0fe;
    }
    75% {
  
      background-color: #d7f7fc; 
    }
    100% {
      background-position: top;
      background-color: #ff5f94;
    }
  }
  

  .c1 {
    animation: animateCloud1 20s ease-in-out infinite;
    transform: scale(0.25);
  }
  
  
  .c3 {
    animation: animateCloud2 28s ease-in-out infinite;
    transform: scale(0.25);
  }
  
  
  .c2 {
    animation: animateCloud4 53s ease-in-out infinite;
    transform: scale(0.75);
  }
  
  
  .c4 {
    animation: animateCloud3 38s linear infinite;
    transform: scale(0.55);
  }
  
  
  .c5 {
    animation: animateCloud1 34s linear infinite;
    transform: scale(0.15);
  }
  
  
  .c6 {
    animation: animateCloud3 45s linear infinite;
    transform: scale(0.45);
  }
  
  
  .c7 {
    animation: animateCloud2 55s linear infinite;
    transform: scale(0.75);
  }
  
  
  .c8 {
    animation: animateCloud2 45s linear infinite;
    transform: scale(0.85);
  }
  
  
  